{% block news %}
  <section class="news">
    <div class="news__container container">
      <div class="news__top-box">
        <h2 class="news__title">
          Новости
        </h2>
        <div class="news__buttons">
          <button class="news__left-button">
            {% include '/assets/svg/left.svg' %}
          </button>
          <button class="news__right-button">
            {% include '/assets/svg/right.svg' %}
          </button>
        </div>
      </div>
      <div class="news__cards">
        <!-- uuuu -->

        <div class="news__card">
          <img class="news__card-img" src="img/bibli.png" />
          <span class="news__card-date">16 июня 2020</span>
          <h3 class="news__card-description-title">
            Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за
            прецедент в рос...
          </h3>
          <p class="news__card-description">
            18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по
            проблематике судебного прецедента. Мероприятие приуроч...
          </p>
          <button class="news__card-button">Читать</button>
        </div>
        <!-- uuuu -->
        <div class="news__card">
          <img class="news__card-img" src="img/dom.png" />
          <span class="news__card-date">16 июня 2020</span>
          <h3 class="news__card-description-title">
            Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за
            прецедент в рос...
          </h3>
          <p class="news__card-description">
            18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по
            проблематике судебного прецедента. Мероприятие приуроч...
          </p>
          <button class="news__card-button">Читать</button>
        </div>
        <!-- uuuu -->
        <div class="news__card">
          <img class="news__card-img" src="img/vesi.png" />
          <span class="news__card-date">16 июня 2020</span>
          <h3 class="news__card-description-title">
            Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за
            прецедент в рос...
          </h3>
          <p class="news__card-description">
            18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по
            проблематике судебного прецедента. Мероприятие приуроч...
          </p>
          <button class="news__card-button">Читать</button>
        </div>
        <!-- uuuu -->
        <button class="news__bottom-box">Показать все новости</button>
      </div>
    </div>
  </section>
{% endblock %}
