{% block discounts %}
  <div class="discounts">
    <div class="discounts__social-icons_mobile">
      <a class="discounts__social-icon_mobile" href="3">
        {% include '/assets/svg/facebookmob.svg' %}
      </a>
      <a class="discounts__social-icon_mobile" href="3">
        {% include '/assets/svg/vkmob.svg' %}
      </a>
      <a class="discounts__social-icon_mobile" href="3">
        {% include '/assets/svg/insagrammobol.svg' %}
      </a>
    </div>
    <div class="container">
      <div class="discounts__container">
        {% include '/assets/svg/logo.svg' %}

        <form class="discounts__form" action="">
          <input type="text"
            class="discounts__field-form"
            placeholder="Введите свой Email и получите скидку" />
          <button type="submit" class="discounts__search-button-form">
            {% include 'assets/svg/Shape.svg' %}
          </button>
        </form>
        <div class="discounts__social-icons">
          {% include '/assets/svg/Facebook.svg' %}
          {% include '/assets/svg/instagram.svg' %}
          {% include '/assets/svg/Twitter.svg' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
