.register {
  background: #f9f9fa;
  padding: 30px 40px;

  @media screen and (max-width: 767px) {
    padding: 30px 20px;
  }

  @media screen and (max-width: 696px) {
    padding: 10px 10px;
  }
}

.register__container {
  display: flex;
  height: 105px;
  align-items: center;
  background: #0288d1;
  border-radius: 5px;
  padding: 0 45px;
  max-width: 1140px;
  margin: 0 auto;

  @media screen and (max-width: 696px) {
    flex-direction: column;
    height: 190px;
    padding: 20px 10px;
    align-items: flex-start;
  }
}

.register__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  position: relative;
  z-index: 1;

  svg {
    left: 56px;
    top: -4px;
    position: absolute;
    z-index: -1;
  }

  @media screen and (max-width: 696px) {
    line-height: 24px;
    width: 100%;
  }
}

.register__form {
  display: flex;
  margin-left: 14px;
  max-width: 565px;
  width: 100%;

  @media screen and (max-width: 696px) {
    flex-direction: column;
    margin-left: 0;
    max-width: 100%;
  }
}

.register__field-form {
  height: 40px;
  display: block;
  max-width: 418px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(28, 41, 77, 0.5);
  outline: 0;
  padding-left: 16px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 5px;
  border: 0;
  margin-right: 10px;

  @media screen and (max-width: 696px) {
    max-width: 100%;
    margin: 10px 0;
  }
}

.register__search-button-form {
  width: 137px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 25px;

  @media screen and (max-width: 696px) {
    width: 100%;
  }
}
