<div class="aut__none _autorization">
	<div class=" _popup-content">
		<div class="aut__popup">
			<h2>Авторизация</h2>
			<button onclick="o2.gPopup.close()" class="aut__popup-close">
				{% include '/assets/svg/krest.svg' %}
			</button>
			<form class="aut__popup-form" novalidate>
				<span>Имя</span>
				<input type="text" class="aut__popup-field _field" placeholder="Имя"/>
				<span>Электроный адрес</span>
				<input type="email" class="aut__popup-field _field" placeholder="Электроный адрес"/>
				<span>Телефон</span>
				<input type="phone" class="aut__popup-field _field" placeholder="Телефон"/>
				<button type="submit" class="aut__popup-button">
					Авторизоваться
				</button>
			</form>
		</div>
	</div>
</div>
