<div class="pop__none _popup">
	<div class=" _popup-content">
		<div class="header__popup">
			<button onclick="o2.gPopup.close()" class="header__popup-close">
				{% include '/assets/svg/krest.svg' %}
			</button>
			<h2 class="header__popup-title">
				{% include '/assets/svg/mesto.svg' %}Ваш населённый пункт
			</h2>
			<p class="header__popup-subtitle">
				Поиск населенного пункта
			</p>
			<form class="header__popup-form" action="">
				<input type="text" class="header__popup-field" placeholder="Откуда вы?"/>
				<button type="submit" class="header__popup-button">
					{% include '/assets/svg/popuplupa.svg' %}
				</button>
			</form>
			<div class="header__popup-links">
				<ul>
					<li>Москва</li>
					<li>Санкт-Петербург</li>
					<li>Новосибирск</li>
					<li>Екатеринбург</li>
					<li>Екатеринбург</li>
					<li>Казань</li>
					<li>Челябинск</li>
					<li>Омск</li>
					<li>Самара</li>
					<li>Ростов-на-Дону</li>
					<li>Уфа</li>
					<li>Саратов</li>
					<li>Тверь</li>
				</ul>

				<ul>
					<li>Краснодар</li>
					<li>Красноярск</li>
					<li>Архангельск</li>
					<li>Мурманск</li>
					<li>Владивосток</li>
					<li>Самара</li>
					<li>Сочи</li>
					<li>Пермь</li>
					<li>Тольятти</li>
					<li>Ижевск</li>
					<li>Тула</li>
					<li>Тюмень</li>
					<li>Хабаровск</li>
				</ul>
			</div>
		</div>
	</div>
</div>
